<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active-link">Home</a>
        <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active-link">My Profile</a>
        <a class="nav-item nav-link" (click)="logout()" routerLinkActive="active-link">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron mb-0">
    <div class="container">
            <app-alert></app-alert>
            <router-outlet></router-outlet>
    </div>
</div>
